anyio==3.6.1
asgiref==3.5.2
attrs==21.2.0
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
coverage==6.0.1
defusedxml==0.7.1
fastapi==0.79.0
flake8==3.9.2
flake8-html==0.4.1
genbadge==1.0.6
gunicorn==20.1.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.0
Pillow==8.3.2
pluggy==1.0.0
py==1.10.0
pycodestyle==2.7.0
pydantic==1.9.2
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
pytest-mock==3.6.1
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
starlette==0.19.1
toml==0.10.2
typing_extensions==4.3.0
urllib3==1.26.7
uvicorn==0.18.2
zipp==3.6.0
